.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    svg {
        cursor: pointer;
    }
}

.track {
    background: lightblue;
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
}

.track-volume {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;

    background: coral;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;

    input {
        width: 100%;
        border: none;
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
    }
    // transform: rotate(90deg);
}
.play-volume-wrapper {
    width: 30%;
}

.animate-volume {
    width: 100%;
    height: 100%;
    background: rgb(204, 204, 204);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
    input {
        width: 100%;
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.volume-control {
    width: 100%;
    display: flex;
    justify-content: center;
}
.volume {
    margin-left: 15px;
    cursor: pointer;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}
input[type='range']::-moz-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 100%;
    }
    .play-volume-wrapper {
        width: 50%;
    }
    .track-volume {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .track-volume {
        width: 50%;
    }
}
